.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

header{
  background-color: red !important;
}

/* .navbar-toggler-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/5949/5949947.png");
} */

.toggler-icon {
  width: 20px; /* Adjust the width to match your preference */
  height: 20px; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensures the image fits within the container */
}


